html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;

  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  width: 28px;
  left: 33%;
  top: 80px;
  position: relative;
}

.hand {
  width: 14px;
  position: relative;
}

.hand-hour {

  transform-origin: center bottom;
  animation: spin 3s linear infinite;
  position: relative;
  left: 48%;
  top: 72px;

}

.hand-minute {

  transform-origin: center bottom;
  animation: spin 1s linear infinite;
  position: relative;
  left: 40%;
  top: 70px;

}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}
